# Ignorar arquivos de compilação
bin/
obj/
*.exe
*.dll
*.pdb

# Ignorar arquivos temporários
*.user
*.bak
*.cache
*.log
*.vspscc
*.vssscc

# Ignorar arquivos de configuração do Visual Studio
*.suo
*.csproj.user
*.userprefs
*.sln.docstates
*.vs/

# Ignorar arquivos de pacotes NuGet
packages/
*.nupkg

# Ignorar o diretório de publicação
publish/